body{
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #fff;
background: #000;
}

.header-row{	
	padding-top: 10px;
}

.logo .logotext{
	padding-top: 15px;
	padding-left: 12px;
}

.logo{
	padding-right: 0px !important;
	margin-right: 0px !important;
}

hr.header-bottom-line{
	border-top: 1px solid #666666;
    margin-top: 10px !important;
}

.slider{
	background: url('images/map.png') no-repeat;
	height: auto;
	min-height: 320px;
	background-position: 60% 2%;
}

.products-categories-wrap h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #eabc01;
	width: 240px;
	padding-left: 30px;
	border-left: 2px solid #eabc01;
	border-right: 2px solid #eabc01;
}

.best-seller h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #eabc01;
	width: 160px;
	padding-left: 30px;
	border-left: 2px solid #eabc01;
	border-right: 2px solid #eabc01;
}

.divider{
	height: 6px;
	width: 100%;
	background: url('images/line.png') repeat;
    margin-top: 30px;
    margin-bottom: 30px;
}

.products-column-wrap{
    
}

.best-seller{
	border-right: 2px solid #666666;
    margin-right: 40px;
	min-height: 235px;
}

.best-seller::after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #666666;
    border-top: 20px solid transparent;
    content: "";
    margin-top: -60px;
    position: absolute;
    margin-right: 40px;
    right: -5px;
    top: 70%;
    z-index: 999;
}

.item_service_right {
    margin: 0 0 30px;
    position: relative;
}

.text_right {
    text-align: right;
}

.four-products-col h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #eabc01;
    margin-top: 0px;
}

.item_service_right .image_service {
    background-clip: padding-box;
    border: 3px solid #d6a400;
    border-radius: 60.8px;
    height: 80px;    
    position: absolute;
    right: 0;
    text-align: center;
    top: -3px;
    width: 80px;
    background: #fff;    
}

.item_service .image_service {
    background-clip: padding-box;
    border: 3px solid #d6a400;
    border-radius: 60.8px;
    height: 80px;
    left: 0;
    padding: 0px 10px;
    position: absolute;
    text-align: center;
    top: -3px;
    width: 80px;
    background: #fff;
}

.item_service {
    margin: 0 0 30px;
    position: relative;
}

.item_service_right .info_service {
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    float: right;
    margin-right: 5%;
    padding: 10px 80px 10px 10px;
    text-align: right;
    width: 95%;
    height: 70px;
    color:#6c6c6c;
}

.info_service {
    background-color: #f3f3f3;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    float: left;
    margin-left: 5%;
    padding: 10px 10px 10px 80px;
    width: 95%;
    color:#6c6c6c;
}

.image_service i.icon-latest-product img{
    padding-top: 15px !important;
}

.image_service i.icon-custom-service img{
    padding-top: 7px !important;
}

.image_service i.icon-we-sell img{
    padding-top: 7px !important;
}


/*********************FOOTER*****************************/

.footer-wrapper{
    color: #b8b8b8;
}

.footer-wrapper h3{
    color: #eabc01;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    margin-top: 0;
}

.footer-wrapper .footer-contact h2{
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    margin-top: 0;
}

.footer-wrapper ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
}

.footer-wrapper li{
    list-style-image: url('images/bullet.png');
}

.footer-wrapper h3 img{
    padding-right: 7px;
}

footer .copyright{
    min-height: 50px;
}

footer .copyright .cards img{
    padding-right: 10px;
}

footer .copyright .social{
    float: right;
}

/*********************FOOTER*****************************/